*{
    margin: 0;
    padding: 0;
}
/* Sets the header background color, font, and spacing for each element */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:darkgray;
}
/* Changes font size for the main header */
header h1 {
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

header a{
    text-decoration: none;
    color: #ffffff;
}

/* Styles the nav font and font size and gives the proper padding to center it within the header section */
header nav {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Gets rid of the bullet points for the nav links */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

/* Sets the nav links in the proper order and gives it a margin for proper spacing */
header nav ul li a{
    margin: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover{
    background: gray;
    border-radius: 25px;
    text-shadow: none;
}

body{
    background-color: dimgray;
}

section{
    padding: 60px;
}

.section-title{
    font-size: 48px;
    color: #ffffff;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin: 30px auto 30px auto;
}

.about-me img{
    max-height: 200px;
    float: left;
    margin-left: 50px;
}

p{
    font-size: 18px;
    color: #ffffff;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

footer h2{
    font-size: 32px;
}

footer ul li{
    display: inline-block;
    flex: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin: 20px 15px 20px 15px;
}