:root{
    --text-color: white;
    --background-color: dimgray;
}
/*Global settings for margin and padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sets the header background color, font, and spacing for each element */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:var(--background-color);
}
/* Changes font size for the main header */
header h1 {
    font-size: 48px;
    color: var(--text-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* Changes formatting and color of header items */
header a{
    text-decoration: none;
    color: var(--text-color);
}

/* Styles the nav font and font size and gives the proper padding to center it within the header section */
header nav {
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Gets rid of the bullet points for the nav links */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

/* Sets the nav links in the proper order and gives it a margin for proper spacing */
header nav ul li a{
    margin: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* Creates a shadow for nav item currently moused over */
header nav ul li a:hover{
    background: gray;
    border-radius: 25px;
    text-shadow: none;
}
/* Sets the background color for the entire body of the page */
body{
    background-color: darkgray;
}
/* adds padding and display for the sections */
section{
    padding: 20px;
    display: block;
}


/* Formats each section title*/
.section-title{
    font-size: 48px;
    color: var(--text-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 50%;
    margin: 50px auto 50px auto;
}
/* Formats and sizes the profile image */
.about-me img{
    width: 10%;
    margin: 20px auto;
    display: flex;
    border-radius: 25px;
}
/* Formats the text in the about me section*/
.about-me p{
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

/* Creates a flex container and attributes for the project section elements */
.flex-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
/* Main card formatting */
.main-card{
    width: 70%;
    margin: auto 1px 1px 0;
    border: black solid 5px;
}
/* Main card img formatting */
.main-card img{
    width: 100%;
}
/* Formatting for the cards */
.card{
    width: 35%;
    margin: auto 1px 1px 0;
    border: black solid 5px;
}
/* Formatting for the img within the cards*/
.card img{
    width: 100%;
}

/* The title section of the cards and it's formatting */
.title{
    font-size: 32px;
    color: var(--text-color);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
}
/* Makes the card hovered over opaque to show it's selected */
.card:hover{
    opacity: 0.5;
}

/* Formatting for everything in the footer */
footer{
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
/* Determines the h2 size and margins*/
footer h2{
    font-size: 32px;
    margin: 10px auto 10px auto;
}
/* Formats all the images used as links for social media and contact info */
footer img{
    max-height: 30px;
    margin: auto auto 10px auto;
}
/* Formats the spacing for all of the icons in the footer */
footer a{
    display: inline;
    flex: wrap; 
    list-style-type: none; 
    justify-content: center;
    margin: 20px 10px 20px 10px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 1024px) {
    .main-card{
        min-width: 600px;
    }

    .card{
        min-width: 300px;
    }
}
@media screen and (max-width: 980px) {
    .main-card{
        min-width: 600px;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px){
    .main-card{
        min-width: 600px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px){
    .main-card{
        min-width: 250px;
    }
    .card{
        min-width: 150px;
    }
}